:root {
    /* Base colors */
    --bg-body:#f8f9fa;
    --bs-danger: #dc3545;
    --bs-danger-hover-color: #b02a37;
    --text-body:#343a40;
    --bg-card:#fdfdfd;
    --bg-navbar:#ffffff;
    --link-color:#0d6efd;
    --link-hover-color:#084298;
    --pane-line-color:#a6a6a6;
    --tooltip-bg:#343a40;
    --tooltip-color:#f8f9fa;
    --bg-footer:#f1f3f5;
    --emergency-color:#dc3545;
    --emergency-hover-color:#b02a37;
    --bs-border-color: #dee2e6;
    --navbar-brand-color: #343a40;
    --navbar-brand-hover-color: #0a0c0e;
    --right-pane-section-title-color: #343a40;
    --right-pane-section-title-hover-color: #0a0c0e;
    --filter-color-disabled: #adb5bd;
    --filter-border-color-disabled: #adb5bd;
    --filter-bg-color-disabled: #e9ecef;

    /* Nord palette (dark reference) */
    --nord0:#2E3440;
    --nord1:#3B4252;
    --nord2:#434C5E;
    --nord3:#4C566A;
    --nord4:#D8DEE9;
    --nord5:#E5E9F0;
    --nord6:#ECEFF4;
    --nord7:#8FBCBB;
    --nord8:#88C0D0;
    --nord9:#81A1C1;
    --nord10:#5E81AC;
    --nord11:#BF616A;
    --nord12:#D08770;
    --nord13:#EBCB8B;
    --nord14:#A3BE8C;
    --nord15:#B48EAD;
}

/* Dark theme */
:root[data-bs-theme="dark"]{
    --bs-secondary:#c0c8d2;
    --bs-danger: var(--nord11);
    --bs-danger-hover-color:var(--nord12);
    --bg-body:var(--nord0);
    --text-body:var(--nord4);
    --bg-card:var(--nord1);
    --bg-navbar:var(--nord0);
    --link-color:var(--nord9);
    --link-hover-color:var(--nord8);
    --pane-line-color:var(--nord4);
    --tooltip-bg:var(--nord2);
    --tooltip-color:var(--nord5);
    --bg-footer:var(--bg-navbar);
    --emergency-color:var(--nord11);
    --emergency-hover-color:var(--nord12);
    --bs-border-color: var(--nord3);
    --navbar-brand-color: var(--nord4);
    --navbar-brand-hover-color: #fff;
    --right-pane-section-title-color: var(--nord4);
    --right-pane-section-title-hover-color: #fff;
    --filter-color-disabled: var(--nord3);
    --filter-border-color-disabled: var(--nord3);
    --filter-bg-color-disabled: #000;
}