footer{
    font-size: .9rem;
}

html[data-bs-theme="light"] .link-footer.emergency:hover,
html[data-bs-theme="light"] .link-footer.emergency:hover i {
    color: hsl(0, 75%, 40%) !important;
}

html[data-bs-theme="dark"] .link-footer.emergency:hover,
html[data-bs-theme="dark"] .link-footer.emergency:hover i {
    color: hsl(0, 75%, 65%) !important;
}
