footer{
    font-size:.9rem;
    background:var(--bg-footer);
}

footer h5{
    font-size:.9rem;
    font-weight:600;
    margin-bottom:.25rem;
}

footer .col-md-4,
footer .col-6{
    padding-bottom:.2rem;
}

footer li{
    margin-bottom:.2rem;
    gap:.25rem;
}

footer .link-footer i{
    font-size:.9rem!important;
    line-height:1;
    vertical-align:middle;
}

footer a.emergency{
    color:var(--emergency-color);
    transition: color 0.2s ease;
}

footer a.emergency:hover{
    color:var(--emergency-hover-color);
}
