html{
    overflow-y:scroll;
}

body{
    font-family:'Segoe UI', Arial, Tahoma, Geneva, Verdana, sans-serif;
    transition: background-color .25s ease, color .25s ease;
}

.h1 {
    font-size: 1.3rem;
}

.h5, .h6{
    font-weight:500;
    line-height:1.4;
    -webkit-font-smoothing:antialiased;
}

.h5{
    letter-spacing:.015em;
}

.h6{
    letter-spacing:.02em;
}

a{
    text-decoration:none;
    transition:color .2s ease;
}

a:hover{   
    outline:0;
}