html{
    overflow-y:scroll;
}

html, body, .offcanvas, a{
    transition:
        background-color .25s ease,
        border-color .25s ease,
        box-shadow .25s ease,
        color .25s ease;
}

body{
    background:var(--bg-body);
    color:var(--text-body);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.h5, .h6{
    font-weight:600;
    line-height:1.4;
    -webkit-font-smoothing:antialiased;
}

.h5{
    letter-spacing:.02em;
}

.h6{
    letter-spacing:.025em;
}

a{
    color:var(--link-color);
    text-decoration:none;
    transition:color .2s ease;
}

a:hover{
    color:var(--link-hover-color);
    outline:0;
}