html {
    overflow-y: scroll;
}

html, body, .offcanvas, a {
    transition: background-color .25s ease,
                border-color .25s ease,
                box-shadow .25s ease,
                color .25s ease;
}

body {
    background: var(--bg-body);
    color: var(--text-body);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.h5 {
    font-weight: 600;
    letter-spacing: 0.02em;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
}

.h6 {
    font-weight: 600;
    letter-spacing: 0.025em;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
}

a {
    color: var(--link-color);
    text-decoration: none;
    transition: color 0.2s ease;
}

a:hover {
    color: var(--link-hover-color);
    outline: none;
}