@media (max-width:768px){
    .offcanvas-end{
        width:100%!important;
    }
}

.offcanvas{
    box-shadow:-4px 0 20px rgba(0,0,0,.15);
}

.offcanvas-header{
    border:0;
    padding-top:1.5rem;
    padding-bottom:0;
}

.offcanvas-header .btn-close{
    outline:0;
    box-shadow:none;
    font-size:.9rem;
}

.offcanvas-body .value{
    display:grid;
    grid-template-columns:24px 1fr;
    column-gap:6px;
    align-items:start;
}

.offcanvas-body .icon{
    width:24px;
    opacity:.7;
    flex-shrink:0;
}

#paneInfo .text{
    text-align:justify;
    text-justify:inter-word;
}

/*html[data-bs-theme="light"] .emergency:hover,
html[data-bs-theme="light"] .emergency:hover i {
    color: hsl(0, 75%, 40%) !important;
}

html[data-bs-theme="dark"] .text-danger:hover,
html[data-bs-theme="dark"] .text-danger:hover i {
    color: hsl(0, 75%, 65%) !important;
}*/

.block-header-n{
    cursor:pointer;
    transition:color .2s ease;
}

.pane-block.collapsible .block-content{
    display:none;
}

.pane-block.open .block-content{
    display:block;
}

.toggle-icon{
    transition:transform .3s ease, opacity .2s ease;
    opacity:.45;
}

.toggle-icon.rotated{
    transform:rotate(180deg);
}