/*------------------------------------------------------------------------------
  general
------------------------------------------------------------------------------*/
li a {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color .2s ease, transform .2s ease;
}

.hot-icon {
    color: var(--bs-danger);
}

a:hover .hot-icon {
    color: var(--bs-danger-hover-color);
}

/*------------------------------------------------------------------------------
  filtered categories
------------------------------------------------------------------------------*/
section.filtered {
    cursor: default;
}

section.filtered h2 {
    pointer-events: none;
}

.filtered-list {
    padding: .5rem 1.7rem;
}

.filtered-icon {
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
    position: relative;
    top: -.1em;
    font-size: .75em;
    color: var(--bs-secondary);
}

.filtered-icon i {
    font-size: inherit;
}

.text-muted i {
    margin-right: .25rem;
}


/*------------------------------------------------------------------------------
  category
------------------------------------------------------------------------------*/
section > h2 {
    margin: .5rem 0;
    cursor: pointer;
}

section.open {
    padding-bottom: .75rem;
}

section .row {
    margin: 0;
}

.category-title {
    display: inline-flex;
    align-items: center;
    gap: .25rem;
    line-height: 1.2;
}

section .category-title-icon,
.subcategory-header {
    color: var(--category-color);
}

section:not(.filtered):hover .category-title-icon,
section:not(.filtered) .subcategory-header:hover {
    color: var(--category-hover-color);
}


/*------------------------------------------------------------------------------
  subcategory
------------------------------------------------------------------------------*/
.subcategory {
    position: relative;
    padding: .5rem 0;
}

.subcategory::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 1.75rem;
    right: 0;
    border-bottom: 1px solid var(--bs-border-color);
}

.subcategory:last-child::after {
    content: none;
}

.subcategory-header {
    position: relative;
    z-index: 1;
    display: block;
    padding-left: 1.75rem;
    font-size: 1.06rem;
    cursor: pointer;
}

.subcategory-content .row {
    margin-inline: calc(-.5 * var(--bs-gutter-x));
    padding-left: 1.5rem;
}

.subcategory-areas {
    font-size: 0.78em;
    font-weight: 400;
    margin-left: .25rem;
    color: var(--subcategory-area-color);
    opacity: .75;
}


/*------------------------------------------------------------------------------
  category & filtered categories
------------------------------------------------------------------------------*/
section li,
.filtered-list li {
    display: flex;
    align-items: center;
    gap: .25rem;
    margin-bottom: .125rem;
}


/*------------------------------------------------------------------------------
  category & subcategory
------------------------------------------------------------------------------*/
section h2 i,
.subcategory-header .chevron-icon {
    transition: transform .2s ease;
}

section.open h2 i.chevron-icon,
.subcategory.open .chevron-icon {
    transform: rotate(180deg);
}


/*------------------------------------------------------------------------------
  group
------------------------------------------------------------------------------*/
.card {
    background: transparent;
    border: 0;
    color: inherit;
}