/*------------------------------------------------------------------------------
  general
------------------------------------------------------------------------------*/
li a {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color .2s ease, transform .2s ease;
}

.hot-icon {
    color: var(--bs-danger);
}


/*------------------------------------------------------------------------------
  filtered section
------------------------------------------------------------------------------*/
section.filtered {
    cursor: default;
}

section.filtered h2 {
    pointer-events: none;
}

.filtered-list {
    padding: .5rem 1.7rem;
}

.filtered-icon {
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
    position: relative;
    top: -.1em;
    font-size: .75em;
    color: var(--bs-secondary);
}

.filtered-icon i {
    font-size: inherit;
}

.text-muted i {
    margin-right: .25rem;
}


/*------------------------------------------------------------------------------
  section
------------------------------------------------------------------------------*/
section > h2 {
    margin: .5rem 0;
    cursor: pointer;
}

section.open {
    padding-bottom: .75rem;
}

section .row {
    margin: 0;
}

.section-title {
    display: inline-flex;
    align-items: center;
    gap: .25rem;
    line-height: 1.2;
}

section .section-title-icon,
.subsection-header {
    color: var(--right-pane-section-title-color);
}

section:not(.filtered):hover .section-title-icon,
section:not(.filtered) .subsection-header:hover {
    color: var(--right-pane-section-title-hover-color);
}


/*------------------------------------------------------------------------------
  subsection
------------------------------------------------------------------------------*/
.subsection {
    position: relative;
    padding: .5rem 0;
}

.subsection::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 1.75rem;
    right: 0;
    border-bottom: 1px solid var(--bs-border-color);
}

.subsection:last-child::after {
    content: none;
}

.subsection-header {
    position: relative;
    z-index: 1;
    display: block;
    padding-left: 1.75rem;
    font-size: 1.06rem;
    cursor: pointer;
}

.subsection-content .row {
    margin-inline: calc(-.5 * var(--bs-gutter-x));
    padding-left: 1.5rem;
}


/*------------------------------------------------------------------------------
  section & filtered
------------------------------------------------------------------------------*/
section li,
.filtered-list li {
    display: flex;
    align-items: center;
    gap: .25rem;
    margin-bottom: .125rem;
}


/*------------------------------------------------------------------------------
  section & subsection
------------------------------------------------------------------------------*/
section h2 i,
.subsection-header .chevron-icon {
    transition: transform .2s ease;
}

section.open h2 i.chevron-icon,
.subsection.open .chevron-icon {
    transform: rotate(180deg);
}


/*------------------------------------------------------------------------------
  card
------------------------------------------------------------------------------*/
.card {
    background: transparent;
    border: 0;
    color: inherit;
}